block content
  //- CREATION
  +slide
    .flex.flex-row.h-100p.relative.bg-no-repeat.bg-cover.bg-center(style="background-image: url(./assets/toys-messy.jpg)")
      .absolute.bg-white.bg-opacity-75p.inset-0.flex.flex-col.flex-center
        .flex.flex-col
          .text-9.text-center.purple.bold.text-shadow Création
  
  //- SUJET ≠ Angle
  +slide
    .flex.flex-row.h-100p
      .flex-none.w-50p.flex.flex-col.flex-center.text-6
        .text-left
          div Un #[.green.inline.bold.text-shadow sujet],
          div plusieurs #[.green.inline.bold.text-shadow angles]
      .flex-none.w-50p.bg-no-repeat.bg-cover.bg-center(style="background-image: url(./assets/angle.jpg)")

  //- Expert
  +slide
    .flex.flex-row.h-100p.relative.bg-no-repeat.bg-cover.bg-left(style="background-image: url(./assets/expert.jpg)")
      .absolute.bg-white.bg-opacity-75p.inset-0.flex.flex-col
        .w-75p.h-100p.flex.flex-center
          .text-left.lh-1
            .text-7 Je ne suis pas
            .text-7 un·e #[.inline.green.bold.text-shadow expert·e] 😱 !


  //- EXEMPLES DE SUJETS
  mixin topic_examples(text, selectedIndex)
    -
      var exampleClasses=[]
      exampleClasses[selectedIndex]="bg-purple white"

    +slide
      .flex.flex-row.h-100p
        .flex-none.w-30p.flex
          .w-100p.flex.flex-col.flex-auto.text-4
            .flex.flex-auto.flex-center.border-r-001.border-b-001.border-gray-4(class=exampleClasses[0]) Mentoring
            .flex.flex-auto.flex-center.border-r-001.border-b-001.border-gray-4(class=exampleClasses[1]) Bug fix
            .flex.flex-auto.flex-center.border-r-001.border-b-001.border-gray-4(class=exampleClasses[2]) Post Mortem
            .flex.flex-auto.flex-center.border-r-001.border-gray-4(class=exampleClasses[3]) Opinion
        .flex-none.w-70p.h-100p.flex.flex-center.p-8
          .text-5.text-center!=text

  
  +topic_examples('Ce que vous auriez <br><span class="purple bold">aimé savoir</span> il y a <span class="purple bold">un an</span>', 0)
  +topic_examples('<span class="purple bold">Documentez</span> le correctif <br>de votre <span class="purple bold">dernier bug</span>', 1)
  +topic_examples('Expliquez le dernier <br><span class="purple bold">incident en production</span> <br>et <span class="purple bold">ce que vous avez appris</span>', 2)
  +topic_examples('Quelque chose de <span class="purple bold">spécifique</span>, que vous faites <br><span class="purple bold">différement des autres</span>', 3)

  //- Navo
  +slide
    .flex.flex-row.h-100p.relative
      .absolute.h-100p.flex-center.flex.pl-8
        .flex-col
          .text-6.text-left.lh-tight.bold.text-shadow.text-shadow-gray.gray-8 
            div Chaque #[.inline.purple.text-shadow idée] est un #[.inline.purple.text-shadow jouet].
          .text-4.gray-6.mt-4 — Navo
      .flex-none.w-60p.flex.flex-center.flex-col
      .flex-none.w-40p.h-100p.bg-contain.bg-no-repeat.bg-bottom(style="background-image:url(./assets/navo.jpg")


  //- NOTER LES IDEES
  +slide
    .flex.flex-row.h-100p.relative.bg-no-repeat.bg-cover.bg-center(style="background-image: url(./assets/toys-messy.jpg)")
      .absolute.bg-white.bg-opacity-75p.inset-0.flex.flex-col.flex-center
        .flex.flex-col
          .text-6 Notez #[.inline.bold.text-shadow.purple toutes] vos idées
          //- .text-3.gray-7.pl-8 Pour les retrouver plus tard


  //- GROUPER LES IDEES
  +slide
    .flex.flex-row.h-100p.relative.bg-no-repeat.bg-cover.bg-center(style="background-image: url(./assets/toys-lego.jpg)")
      .absolute.bg-white.bg-opacity-75p.inset-0.flex.flex-col.flex-center
        .flex.flex-col
          .text-6 Faites des #[.inline.bold.text-shadow.purple groupes]

